extends ui_layout

block content
  .twelve.wide.column.centered
    include ./partials/StaticActorPost

block styles 
  link(type='text/css', rel='stylesheet', href='/public/css/script.css')
  link(type='text/css', rel='stylesheet', href='/public/css/tutorial.css')
  link(type='text/css', rel='stylesheet', href='/public/css/jquery.highlight-within-textarea.css')

block scripts
  script.
    window.script={}
  script(src='/public/js/script.js')
  script(src='/public/js/lib/jquery.highlight-within-textarea.js')
  script(src='/public/js/postFunctionalities.js')